<section id="pages" class="index">
  <h1>Latest additions</h1>

  <% @pages.each do |page| %>
    <div class="page-title">
      <h2><%= link_to(page.title, page) %></h2>
    </div>
  <% end %>
</section>

