$width: 960px;
$link_color: #4c9ed9;

body {
  color: #333;
  max-width: $width;
  margin: 1em auto;
  padding: 1em;
}

header {
  position: relative;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:visited {
  color: darken($link_color, 15%);
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: rgb(220, 70, 70);
}

nav {
  padding: 1em .5em;
  border-top: 1px solid #ccc;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    font-size: .875em;
  }

  li {
    display: inline-block;
  }

  li:last-child {
  }

  a {
    color: #666;
    font-weight: 600;
    text-decoration: none;
  }
}

.header-link,
.header-link:visited,
.header-link:hover {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}

#flash {
  top: .8em;
  color: #444;
  width: $width;
  padding: .4em .8em;
  font-weight: bold;
  line-height: 1.5;
  font-size: .875em;
  position: absolute;
  background: rgb(230, 245, 245);
}

#search-box {
  top: 0;
  right: 0;
  position: absolute;

  input {
    color: #444;
    width: 18em;
    line-height: 1.5;
    font-size: .875em;
    padding: .3em .8em;
    margin-bottom: 1em;
    border-radius: 1px;
    border: 1px solid #eee;

    &:focus {
      border-color: #ddd;
    }
  }
}

