#search {
  .section-header {
    color: #555;
    font-size: 1.5em;
  }

  .term {
    color: #333;
  }

  .pages {
    margin-left: 1em;
  }

  .page-title a {
    font-size: 1em;
    font-weight: bold;
  }
}

